@model IEnumerable<HESound.Models.Person>

@{
    ViewData["Title"] = "Personnes";
}

<h1>Personnes</h1>

<p>
    <a asp-action="Create">Ajouter</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <!--<a asp-action="Edit" asp-route-id="@item.PersonId">Éditer</a> |-->
                <a asp-action="Details" asp-route-id="@item.PersonId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonId">Suprimmer</a>
            </td>
        </tr>
}
    </tbody>
</table>
